<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
style(type="text/css").
    .Y-forms_h1 {
        background-color:  bisque;
        margin-top: 0px;
        padding-top: 30px;
        padding-bottom: 30px;
        text-align:  -webkit-center;
    }

html
    head
        title= "Submit page"
    body
        h1.Y-forms_h1
            a(href="/") Y-forms
        br
        center
            h1= "Submit page. form: " + form_id
